.Advanced_search .modal_screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  z-index: 11; /* Sit on top */
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* The Close Button */
.Advanced_search .close {
  position: absolute;
  top: 9%;
  right: 19%;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation-name: appear;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
.Advanced_search .close:hover,
.Advanced_search .close:focus {
  color: #f1f1f1;
  text-decoration: none;
  cursor: pointer;
}

.Advanced_search .Advanced_search_card {
  width: 65%;
  height: 85%;
  z-index: 3;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);
  border-radius: 5%;
  animation-name: zoom;
  animation-duration: 0.6s;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.Advanced_search .left_container,
.Advanced_search .right_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
.Advanced_search .left_container {
  background-color: var(--secondary2);
  font-size: 1vw;
}
/* .Advanced_search .right_container {
} */
.Advanced_search h1 {
  color: var(--secondary9);
  font-size: 1.5vw;
  font-weight: 500;
  text-shadow: 1px 0 0 var(--secondary9), -1px 0 0 var(--secondary9),
    0 1px 0 var(--secondary9), 0 -1px 0 var(--secondary9),
    0.5px 0.5px var(--secondary9), -0.5px -0.5px 0 var(--secondary9),
    0.5px -0.5px 0 var(--secondary9), -0.5px 0.5px 0 var(--secondary9);
}
.Advanced_search .left_container p {
  margin-top: 5%;
  font-size: large;
}
/* SLIDER---------------------------------------------------------------------------------------------------------------- */

.Advanced_search .slidecontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%; /* Width of the outside container */
}
.Advanced_search .slidecontainer p {
  height: 100%;
}
.Advanced_search .slider {
  width: 100%; /* Full-width */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.Advanced_search .slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.Advanced_search #maxHabitantes {
  padding: 1% 2%;
  background-color: transparent;
  border: 1px solid rgb(87, 87, 87);
  width: 25%;
  font-size: 1vw;
}
.Advanced_search #maxHabitantes:focus {
  outline-width: 0px;
  outline: none;
}

.Advanced_search #quantity {
  padding: 1% 2%;
  border: 1px solid rgb(87, 87, 87);
  width: 25%;
  font-size: 1vw;
}
.Advanced_search #quantity:focus {
  outline-width: 0px;
  outline: none;
}

.Advanced_search .checkContainer {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Advanced_search #check {
  width: 1vw;
  height: 1vw;
  margin-right: 1%;
}
.Advanced_search label {
  width: 20vw;
}
.Advanced_search #info {
  font-size: 0.8vw;
  width: 75%;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 1%;
}

.Advanced_search .cards_container {
  width: 87%;
  height: 87%;
  margin-top: 2%;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
}
.Advanced_search .muniCard {
  margin: 2%;
  width: 8vw;
  height: 8vw;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.2s;
}
.Advanced_search .muniCard:hover {
  transform: scale(1.1);
}
.Advanced_search .gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.Advanced_search .cardInfo {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 0.7vw;
  color: white;
  font-weight: 500;
}
/* INPUT TEXT Y BÚSQUEDA DINÁMICA---------------------------------------------------------------------------------------- */
.Advanced_search .input_text_container {
  margin-top: 6vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border-bottom: 3px solid rgb(87, 87, 87);
}
.Advanced_search .input_text_container:focus-within {
  background-color: #aad386;
}
.Advanced_search .input_text_container #advanced_search {
  margin-left: 0.25vw;
  padding: 1% 2%;
  border: none;
  background-color: transparent;
  font-size: 1.2vw;
  width: 15vw;
}
.Advanced_search .input_text_container #advanced_search:focus {
  outline-width: 0px;
  outline: none;
}
.Advanced_search i {
  margin-top: 2%;
  animation-name: scale;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transform: scale(1.2);
}
.Advanced_search select {
  font-size: 1.1vw;
  background-color: transparent;
  margin-top: 2vw;
}
.Advanced_search select:focus {
  outline-width: 0px;
  outline: none;
}
.Advanced_search .relative-positioner {
  position: relative;
}
.Advanced_search .listaProvincias {
  position: absolute;
  visibility: hidden;
  z-index: 1;
  width: 100%;
  max-height: 20vh;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.1vw;
}
.Advanced_search li {
  font-weight: 500;
}
.Advanced_search li:hover {
  background-color: var(--secondary7);
  cursor: pointer;
}

/* ANIMACIONES----------------------------------------------------------------------------------------------------------- */
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
