.footer {
  width: 100%;
  height: 9vh;
  /* position: absolute; */ /* ONLY FOR TESTING */
  bottom: 0;
  left: 0;
  background-color: rgb(99, 199, 99);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid var(--secondary9);
}
.footer .section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer h1 {
  color: var(--secondary4);
  text-shadow: 1px 0 0 var(--secondary9), -1px 0 0 var(--secondary9),
    0 1px 0 var(--secondary9), 0 -1px 0 var(--secondary9),
    0.5px 0.5px var(--secondary9), -0.5px -0.5px 0 var(--secondary9),
    0.5px -0.5px 0 var(--secondary9), -0.5px 0.5px 0 var(--secondary9);
  font-size: 1vw;
}
.footer h2 {
  color: var(--secondary4);
  text-shadow: 1px 0 0 var(--secondary9), -1px 0 0 var(--secondary9),
    0 1px 0 var(--secondary9), 0 -1px 0 var(--secondary9),
    0.5px 0.5px var(--secondary9), -0.5px -0.5px 0 var(--secondary9),
    0.5px -0.5px 0 var(--secondary9), -0.5px 0.5px 0 var(--secondary9);
  font-size: 0.8vw;
}
.footer .row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer .row-container img {
  width: 2vw;
  height: 2vw;
  margin: 0.4vw;
  transition: transform 0.2s;
}

.footer .row-container img:hover {
  transform: scale(1.2);
}

#uni-logo {
  width: 1vw;
  height: 1vw;
}

.footer .tooltip {
  position: relative;
}

.footer .tooltiptext {
  font-family: "Roboto", sans-serif;
  visibility: hidden;
  width: 120px;
  background-color: rgb(68, 68, 68);
  color: rgb(218, 218, 218);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.footer .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(68, 68, 68) transparent transparent transparent;
}

.footer .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.footer #center {
  margin-left: 5vw;
}
