* {
    margin: 0;
}

:root {
    --primary1: #00e0ff;
    --primary2: #4d9bac;
    --primary3: #e5feff;
    --primary4: #e6f4f1;
    --secondary1: #94ff31; /* Card */
    /* --secondary2: #81986e; */ /* background */
    --secondary2: #d0ffa4; /* background */
    --secondary3: #f6fbf2;
    /* --secondary4: #77af3f; */ /* Title text color */
    --secondary4: rgb(255, 255, 255); /* Title text color */
    --secondary5: #2bc069; /* Button color */
    --secondary6: #31ff35;
    --secondary7: #6fbf24;
    /* --secondary8: #376110; */
    --secondary8: #74cc22; /* Navbar y footer */
    --secondary9: #63a525;
}

.mainWindowContainer{
    display: grid;
    grid-template-rows: 20% 50% 30%;
    grid-template-areas: 
        "headSection"
        "mainSection"
        "footerSection";
}

.headInfoSection{
    grid-area: headSection;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        "headLeftSection headRigthSection";
    background-color: var(--secondary2);
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

}

.headLeftSection{
    grid-area: headLeftSection;
    padding-top: 10%;
    padding-left: 15%;
    padding-bottom: 10%;
}

.headLeftSectionInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.headLeftSectionInfoContainer *{
    padding: 1rem;
}

.headRigthSection{
    grid-area: headRigthSection;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.headRigthSectionLeftPanel *{
    padding-bottom: 5%;
}

/*
.headRigthSectionRightPanel{
    max-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
}

.headRigthSectionRightPanel *{
    padding: 1rem 3rem;
}
*/

.loaderPending {
    margin: 10% auto;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid black;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mainInfoSection{
    grid-area: mainSection;
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    background-color: white;
}

.mainInfoSectionContainer{
    padding-top: 3%;
}
/*
.splideContainer{
    
}*/

.splideTitle{
    margin-bottom: 2%;
    margin-left: 6%;
}
.cardContainer{
    max-width: 300px;
    max-height: 600px;
}
.cardContainerImage{
    width: 300px;
    height: 280px;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.8);
    border-radius: 5%;

}
.card:hover{
    opacity: 0.8;
}

.footerTitle{
    margin: 2% 0 2% 6%;
}

.footerInfoSection{
    grid-area: footerSection;
    background-color: var(--secondary2);
}
.footerInfoSectionContainer{
    margin: 2% auto 2%;
    width: 90%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

/* The Modal (background) */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    margin-top: -9vh;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*ModalWindow*/
.modalContent {
    display: block;
    width: 65%;
    height: 85%;
    background-color: var(--secondary5);
    box-shadow: 1px 3px 5px rgba(0,0,0,0.8);
    border-radius: 5%;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
    margin-left: 96%;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}
.close:hover,
.close:focus {
  color: #f1f1f1;
  text-decoration: none;
  cursor: pointer;
}

/*Waiting alert*/
.waitingAlert{
    color: #f1f1f1;
    font-weight: bold;
}

/*Card Content*/
.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoContainer h1 {
    margin-top: 2%;
    font-size: 3rem;
    white-space: nowrap;
}
.infoContainer h2 {
    margin-top: 1%;
    font-size: 2rem;
}

.infoContainer h3 {
    margin-top: 1%;
}

.ideaCardInfoTablesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1.3%;
}
.ideaCardInfoTablesContainerLeft{
    width: 35%;
    padding: 2%;
    text-align: justify;
    text-justify: inter-word;
    background-color:white;
    border-radius: 2%;


}
.ideaCardInfoTablesContainerRight{
    padding: 2%;
    background-color: white;
    border-radius: 2%;
}

.ideaCardInfoTablesContainerLeft, .ideaCardInfoTablesContainerRight{
    font-size: 15px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.8);
}

.cardButtonContainer{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1.8% auto 2.5%;
    width: 15%;
}

.cardButton {
    position: absolute;
    padding: 2px 10px;
    font-size: 22px;
    border-radius: 15px;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    transition-duration: 0.3s;
}

.cardButton:hover{
    transform: scale(1.1);
}

.noImagesFound{
    text-align: center;
}

.cardContentImageContainer{
    max-width: 500px;
    max-height: 300px;
}
.cardContentImage {
    width: 425px;
    height: 285px;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.8);
}

.cardContentImageContainer2{
    max-width: 450px;
    max-height: 200px;
}
.cardContentImage2{
    width: 350px;
    height: 200px;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.8);
}

@media only screen and (max-width: 1595px) {
    .modalContent {
        width: 75%;
        height: 80%;
        border-radius: 4%;
    }
    .close {
        font-size: 35px;
    }
    .infoContainer h1 {
        font-size: 2.5rem;
        white-space: normal;

    }
    .infoContainer h2 {
        font-size: 1.5rem;
    }
    
    .cardButtonContainer{
        margin: 5% auto 4%;
        width: 18%;
    }
    
    .cardButton {
        position: absolute;
        padding: 2px 10px;
        font-size: 19px;
        border-radius: 15px;
    }
    .cardContentImageContainer{
        max-width: 460px;
        max-height: 260px;
    }
    .cardContentImage {
        width: 385px;
        height: 245px;
    }
    
    .cardContentImageContainer2{
        max-width: 410px;
        max-height: 160px;
    }
    .cardContentImage2{
        width: 300px;
        height: 160px;
    }
    .weatherFrame {
        scale: 0.8;
    }  
}

@media only screen and (max-width: 1325px) {
    .infoContainer h1 {
        margin-top: 2%;
        font-size: 2rem;
        white-space: normal;
    }
    .ideaCardInfoTablesContainerLeft{
        width: 40%;
        padding: 1%;
    }
    .ideaCardInfoTablesContainerRight{
        padding: 1%;
    }
    
    .ideaCardInfoTablesContainerLeft, .ideaCardInfoTablesContainerRight{
        font-size: 12.5px;
    }
}

@media only screen and (max-width: 1111px) {
    .ideaCardInfoTablesContainerLeft{
        width: 30%;
        padding: 2%;
    }
    .ideaCardInfoTablesContainerRight{
        padding: 2%;
    }
    
    .ideaCardInfoTablesContainerLeft, .ideaCardInfoTablesContainerRight{
        font-size: 11.5px;
    }
    .weatherFrame {
        display: none;
    }
}