.navbar {
  width: 100%;
  height: 9vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--secondary8);
  display: flex;
  flex-direction: row;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-bottom: 2px solid var(--secondary9);
}
.navbar .left-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* padding-left: 8vw; */
  padding-left: 3vw;
}
.navbar .title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Orelega One", cursive;
  color: var(--secondary4);
  font-size: 0.8vw;
  text-shadow: 1px 0 0 var(--secondary9), -1px 0 0 var(--secondary9),
    0 1px 0 var(--secondary9), 0 -1px 0 var(--secondary9),
    0.5px 0.5px var(--secondary9), -0.5px -0.5px 0 var(--secondary9),
    0.5px -0.5px 0 var(--secondary9), -0.5px 0.5px 0 var(--secondary9);
  transition: transform 0.2s;
}
.navbar .title-container img {
  width: 2vw;
  height: 2vw;
  margin-bottom: 0.5vw;
}

.navbar .right-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2vw;
}
.navbar .right-container img {
  width: 2vw;
  height: 2vw;
  margin-right: 1vw;
  transition: transform 0.2s;
}
.navbar .right-container img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.navbar .title-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.navbar .tooltip {
  position: relative;
}

.navbar .tooltiptext {
  font-family: "Roboto", sans-serif;
  visibility: hidden;
  width: 120px;
  background-color: rgb(68, 68, 68);
  color: rgb(218, 218, 218);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.navbar .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(68, 68, 68) transparent;
}

.navbar .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
